html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #222;
  color: white;
  font-family: 'Courier New', Courier, monospace, sans-serif;
}

a, a:hover, a:visited {
  color: #EEE;
  text-decoration: none;
}

.jumbotron {
  align-items: center;
  background: url(assets/world-map.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;
  width: 100%;
}

.jumbotron > * {
  z-index: 1;
}

.jumbotron::before {
  background-color: #0006;
  content: '';
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  max-width: 100%;
}

.actions {
  align-items: center;
  display: flex;
  margin-top: 30px;
}

.date {
  align-items: center;
  display: flex;
  font-size: 36px;
}

.date-icon {
  margin-right: 15px;
  font-size: 50px !important;
}

.demo-icon {
  margin-left: 10px;
  font-size: 50px !important;
}

.download-btn {
  align-items: center;
  background-color: #ff3c00;
  border-radius: 10px;
  color: white;
  display: inline-flex;
  font-size: 24px;
  height: 70px;
  margin-left: 70px;
  padding: 0 20px;
  transition: all 0.7s;
}

.download-btn:hover {
  background-color: #656565;
  transform: scale(1.05);
}

.download-icon {
  height: 38px;
  margin-left: 15px;
}

.logo-instagram {
  height: 70px;
  margin-left: 70px;
  transition: all 1s;
}

.logo-instagram:hover {
  transform: rotate(360deg);
}

.brand {
  align-items: center;
  display: flex;
  font-family: Courier, monospace, sans-serif;
  justify-content: center;
  margin-top: 70px;
}

.logo-deltawave {
  height: 30px;
  margin-right: 15px;
}

main {
  margin-top: 50px;
  max-width: 100%;
  width: 800px;
}

iframe {
  height: 450px;
  width: 100%;
}

blockquote {
  align-items: flex-start;
  display: flex;
  margin: 50px 0 0 0 ;
}

blockquote p {
  font-style: italic;
  margin: 0 0 0 10px;
}

.quote-icon {
  font-size: 70px !important;
}

.description {
  font-size: 18px;
  margin-top: 50px;
}

.description ul {
  margin: 40px 0;
}

.link {
  border-bottom: 1px solid white;
  display: inline-block;
}